html, body {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

body {
  
  font-family: Xanh Mono;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  color: hsl(191, 15%, 28%);
  margin: 0px;
}

h1 {
  margin: 0;
}

.typing-text::after {
  content: "|";
  animation: blink ease 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  } 50% {
    opacity: 1;
  }
}